$breakpoint-mobile: 480px;
$breakpoint-tablet: 786px;
$breakpoint-desktop: 1024px;

$width-sidebar: 25vw;
$width-main: 100vw;
$width-main-tablet: 70vw;

$color-brand-1: #13B2A9;
$color-brand-2: #272727;
$color-brand-3: #E51843;

$color-primary: $color-brand-1;
$color-fade: #767676;

$text-shadow: 0px 1px 5px rgba(0,0,0,0.02);
$box-shadow: 0 5px 25px rgba(0,0,0,0.1);

$font-body: calc(16px + .2vw);
$font-normal: calc(14px + .2vw);
$font-small: calc(12px + .2vw);
$font-xs: calc(11px + .1vw);