*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: calc(14px + .2vw);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #13B2A9;
  line-height: 1.8;
}
@media (min-width: 786px) {
  a {
    line-height: 1.4;
  }
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
  margin-top: 1.8em;
}

h6 {
  text-transform: uppercase;
}

p,
ul {
  margin-bottom: 1em;
}

li {
  list-style-position: inside;
  padding-left: 1em;
}

.content li {
  margin-left: 2em;
}

code, pre {
  background: #f5f2f0;
  overflow: auto;
  white-space: pre-wrap;
}

pre {
  padding: 1em;
  margin: 0.5em 0;
  line-height: 1.5;
}

code {
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.25rem 0.5em;
}

pre > code {
  font-family: Consolas, Monaco, "Lucida Console", "Andale Mono", "Ubuntu Mono", monospace;
}

.container {
  width: calc(100% - 200px);
  margin: 0 auto;
}

#header {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "logo" "menu";
  background-color: #13B2A9;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}
@media (min-width: 786px) {
  #header {
    grid-template-columns: 5% 25vw 1fr 5%;
    grid-template-areas: ". logo menu .";
  }
}
#header #logo,
#header #main-nav {
  padding: 0.5em 1em;
}
#header #logo {
  grid-area: logo;
  background: rgba(0, 0, 0, 0.05);
}
#header #logo a {
  text-decoration: none;
}
#header #logo h1 {
  margin-top: 0;
  color: white;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.02);
}
#header #main-nav {
  grid-area: menu;
  align-self: center;
}
#header #main-nav a {
  padding-right: 0.5em;
  color: white;
}

#main {
  display: grid;
  grid-template-areas: "content";
}
@media (min-width: 786px) {
  #main {
    grid-template-columns: 5% 25vw 1fr 5%;
    grid-template-areas: ". sidebar content .";
  }
}

#sidebar,
#content {
  padding: 1em;
}

#sidebar {
  grid-area: sidebar;
  visibility: hidden;
  display: none;
  padding: 1em;
  font-size: calc(14px + .2vw);
  line-height: 1.8;
  background: rgba(210, 210, 210, 0.1);
}
@media (min-width: 786px) {
  #sidebar {
    display: block;
    visibility: visible;
  }
}
#sidebar #list-sections li {
  list-style: none;
}

#content {
  grid-area: content;
}
@media (min-width: 786px) {
  #content {
    padding: 1em 3em;
  }
}
#content .post_title {
  margin-top: 0;
}
#content .post_meta {
  color: #828282;
  font-size: calc(12px + .2vw);
  margin: 1em 0 2em 0;
}

#footer {
  margin-top: 2em;
  padding-top: 2em;
  border-top: #828282 1px dashed;
}
#footer .note {
  font-size: calc(12px + .2vw);
}
#footer .copyright {
  color: #828282;
  font-size: calc(11px + .1vw);
}
