$breakpoint-mobile: 480px;
$breakpoint-tablet: 786px;
$breakpoint-desktop: 1024px;

$width-sidebar: 25vw;
$width-main: 100vw;
$width-main-tablet: 75vw;

$color-brand-1: #13B2A9;
$color-brand-2: #272727;

$color-primary: $color-brand-1;
$color-fade: #767676;