
  <footer id="footer">
    <section class="note">
      Please note that this site and the posts on it are, and will always be, a work in progress. If i waited for perfection, i’d never get anything done.
    </section>
    <span class="copyright">{{ $.Site.Params.copyright.prefix}} Copyright &copy; {{ $.Site.Params.copyright.startYear }} - {{ .Date.Format "2006"}} <a href="{{ $.Site.Params.copyright.holder_url }}">{{ $.Site.Params.copyright.holder }}</a>. {{ $.Site.Params.copyright.suffix}}</span>
  </footer>

  </div><!-- END #content -->

</div><!-- END #main -->

<script src='/prism/prism.js'></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-51214502-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-51214502-1');
</script>

</body>
</html>
