
<footer id="footer">
  <section class="note">
    Please note that this site and the posts on it are, and will always be, a work in progress. If i waited for perfection, i’d never get anything done.
  </section>
  <span class="copyright">{{ $.Site.Params.copyright.prefix}} Copyright &copy; {{ $.Site.Params.copyright.startYear }} - {{ .Date.Format "2006"}} {{ $.Site.Params.copyright.holder }}. {{ $.Site.Params.copyright.suffix}}</span>
</footer>

</div><!-- END #main -->

<script src='/prism/prism.js'></script>
</body>
</html>