
  <footer id="footer">
    <section class="note">
      Please note that this site and the posts on it are, and will always be, a work in progress. If i waited for perfection, i’d never get anything done.
    </section>
    <span class="copyright">Created with <i class="fas fa-heart"></i> by <a href="https://aamnah.com">Aamnah</a>. 
  </footer>

  </div><!-- END #content -->

</div><!-- END #main -->

<script src='/prism/prism.js'></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-51214502-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-51214502-1');
</script>

<!-- FontAwesome SVG icons -->
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>


</body>
</html>
