<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no minimum-scale=1'>
  <title>{{ .Site.Title }}</title>
  <link rel='stylesheet' href='/css/main.css'> <!-- the / at the beginning is important -->
  <link rel="stylesheet" href="/prism/prism.css">

  <!-- Startup configuration -->
  <link rel="manifest" href="manifest.webmanifest">
  <!-- Fallback application metadata for legacy browsers -->
  <meta name="application-name" content="Aamnah's Developer Notes">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/android-chrome-192x192.png">
  <link rel="apple-touch-icon" sizes="512x512" href="/android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="msapplication-config" content="browserconfig.xml">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#7e57c4">
  <meta name="theme-color" content="#7e57c4">
</head>

<body>

<!-- Header -->
<header id="header">
  <div id="logo">
    <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
  </div>

  <nav id="main-nav">
    {{ if .Site.Menus.main }}
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    {{ end }}
  </nav>

</header>

<!-- wrapper div for #sidebar and #content -->
<div id="main"> 
  <!-- Sidebar -->
  {{ partial "sidebar" . }}

  <!-- Main -->
  <div id="content">
