@import url("https://fonts.googleapis.com/css?family=Assistant|Athiti|Average|Cormorant+Infant|Maitree:400,700|Maven+Pro|Merriweather|Molengo|Oxygen|Raleway|Rosarivo|Shanti|Sorts+Mill+Goudy|Source+Sans+Pro|Source+Serif+Pro|Ubuntu");
@font-face {
  font-family: 'Menlo-Regular';
  src: url("../assets/fonts/Menlo-Regular.eot");
  src: url("../assets/fonts/Menlo-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Menlo-Regular.woff") format("woff"), url("../assets/fonts/Menlo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Graphik-Regular';
  src: url("../assets/fonts/Graphik-Regular.eot");
  src: url("../assets/fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Graphik-Regular.woff") format("woff"), url("../assets/fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Graphik-Semibold';
  src: url("../assets/fonts/Graphik-Semibold.eot");
  src: url("../assets/fonts/Graphik-Semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Graphik-Semibold.woff") format("woff"), url("../assets/fonts/Graphik-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Graphik-Medium';
  src: url("../assets/fonts/Graphik-Medium.eot");
  src: url("../assets/fonts/Graphik-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Graphik-Medium.woff") format("woff"), url("../assets/fonts/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 18px/1.6 "Graphik-Regular", sans-serif;
  color: #111;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 15.75px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #E51843;
  text-decoration: none; }
  a:visited {
    color: #a0112f; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #ebe5e1;
  border-radius: 5px;
  background-color: #f5f2f0; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (min-width: 900px) {
    .wrapper {
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(14px + .3vw);
  letter-spacing: 0.1px;
  word-spacing: 1px;
  line-height: 1.8; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Graphik-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1 {
  font-size: 2.6rem; }
  @media screen and (min-width: 1440px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-size: 2.4rem; }
  @media screen and (min-width: 1440px) {
    h2 {
      font-size: 2.6rem; } }

h3 {
  font-size: 2.2rem; }
  @media screen and (min-width: 1440px) {
    h3 {
      font-size: 2.4rem; } }

h4 {
  font-size: 2rem; }
  @media screen and (min-width: 1440px) {
    h4 {
      font-size: 2.2rem; } }

h5 {
  font-size: 1.8rem; }
  @media screen and (min-width: 1440px) {
    h5 {
      font-size: 2rem; } }

h6 {
  font-size: 1.6rem; }
  @media screen and (min-width: 1440px) {
    h6 {
      font-size: 1.8rem; } }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background: #000;
  color: #e8e8e8;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #e8e8e8; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #e8e8e8;
    line-height: 1.6; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 768px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fff;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  background: #000; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
  color: #e8e8e8; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: calc(12px + .2vw);
  line-height: 1.4;
  color: #828282;
  margin-left: -30px;
  display: flex;
  flex-direction: column; }

.footer-col {
  margin-bottom: 15px;
  padding-left: 15px; }

@media screen and (min-width: 768px) {
  .footer-col-wrapper {
    flex-direction: row; }

  .footer-col {
    padding-left: 30px; }

  .footer-col-1 {
    width: calc(100% / 4); }

  .footer-col-2 {
    width: calc(100% / 4); }

  .footer-col-3 {
    width: calc(100% / 2); } }
/**
 * Page content
 */
.page-content {
  flex: 1;
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 15.75px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 3rem;
  line-height: 1.3;
  font-family: 'Graphik-semibold';
  word-spacing: 2px;
  margin: 1em 0 .2em 0; }
  @media screen and (min-width: 1440px) {
    .post-title {
      font-size: 3.6rem; } }

.post-content {
  margin-bottom: 30px; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #07a; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #fd971f; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
