---
layout: default
---
<article class="Post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="Post-header">
    <h1 class="Post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="Post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %} • 
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
      <span style='float:right'><a href="{{ site.github_url }}/{{page.path}}">Edit this page on Github</a>
    </p>
    {% if page.tags %}
      <ul class='tags'>
      {% for tag in page.tags %}
        <li>{{ tag }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </header>

  <div class="Post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
